.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color:white;
  color:white;
  font-family: 'Courier New', Courier, monospace;
  text-align:left;
  font-size:15px;
}

.title{

  color:white;
  color:white;
  font-family: 'Courier New', Courier, monospace;
  text-align:left;
  font-size:20px;
}
