<div  id="content">


<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav style="padding-top:10px; padding-left:10px">
  <ul>
    <li><a routerLink="/home-component" routerLinkActive="active">Home</a></li>
    <li>&nbsp;</li>

    <li>&nbsp;</li>

    <li><a routerLink="/projects-component" routerLinkActive="active">Projects</a></li>

    <li>&nbsp;</li>

    <li>&nbsp;</li>



    <li><a routerLink="/blog-component" routerLinkActive="active">Blog</a></li>

    <li>&nbsp;</li>

    <li>&nbsp;</li>

    <li><a routerLink="/contact-component" routerLinkActive="active">Contact</a></li>

    <li>&nbsp;</li>

    <li>&nbsp;</li>

    <li><a  >Resume</a></li>
  </ul>
</nav>

</div>


<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
